@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #1a1b26;
	}
}

/*====== Aesthetics ======*/
#search-box {
	appearance: none !important;
	color: #c8d3f5 !important;
	background: #1a1b26 !important;
}

#navigator-toolbox {
	border-bottom: none !important;
}

#titlebar {
	background: var(--accent-color) !important;
}

/* Sets the toolbar color */
toolbar#nav-bar {
	background: var(--accent-color) !important;
	box-shadow: none !important;
}

/* Sets the URL bar color */
#urlbar {
	background: var(--accent-color) !important;
}

#urlbar-background {
	background: var(--accent-color) !important;
	border: none !important;
}

#urlbar-input-container {
	border: none !important;
}

#sidebar-splitter {
	width: 1px !important;
	border-style: none !important;
	background-color: #7aa2f7 !important;
}

.tabbrowser-tab {
	padding: 0px !important;
}

#history-panelmenu > image:nth-child(1), #fxa-toolbar-menu-button > stack:nth-child(1), #unified-extensions-button > image:nth-child(1) {
	padding-top: 0px !important;
	padding-bottom: 2px !important;
	border: none !important;
}

#nav-bar {
	--toolbar-field-focus-border-color: var(--accent-color)
}
.findbar-textbox {
	--toolbar-field-focus-border-color: var(--accent-color);
	background-color: var(--accent-color) !important;
	border-radius: 0px !important;
}

.browserContainer > findbar {
	padding: 0px !important;
	border-top-color: #7aa2f7 !important;
}

xul|findbar {
	border-top-color: #7aa2f7 !important;
}

/*====== UI Settings ======*/

:root {
	--navbarWidth: 500px;
	--tab-min-height: 0 !important;
	--tab-max-height: 20px !important;
	--urlbar-min-height: 0px !important;
	--urlbar-height: 20px !important;
	--tab-border-radius: 0px !important;
	--inline-tab-padding: 4px !important;
	--splitter-width: 1px !important;
}

#nav-bar,
.toolbar-items,
.titlebar-buttonbox-container,
.tab-content,
.tab-background,
.tab-label-container {
  height: var(--tab-max-height);
}
.tab-background {
  margin: 0 !important;
}

#urlbar[breakout] {
	height: 18px !important;
}


/* If the window is wider than 1000px, use flex layout */
@media (min-width: 0px) {
	#navigator-toolbox {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}

	/*  Url bar  */
	#nav-bar {
		order: 1;
		width: var(--navbarWidth);
	}

	/* Tab bar */
	#titlebar {
		order: 2;
		width: calc(100vw - var(--navbarWidth) - 1px);
	}

	/* Bookmarks bar */
	#PersonalToolbar {
		order: 3;
		width: 100%;
	}

	/* Fix urlbar sometimes being misaligned */
	:root[uidensity="compact"] #urlbar {
		--urlbar-toolbar-height: 20px !important;
	}

	:root[uidensity="touch"] #urlbar {
		--urlbar-toolbar-height: 20px !important;
	}
}

/* NOTE: Remove UI elements */
#identity-box, /* Site information */
#tracking-protection-icon-container, /* Shield icon */
#page-action-buttons > :not(#urlbar-zoom-button, #star-button-box), /* All url bar icons except for zoom level and bookmarks */
#urlbar-go-button, /* Search URL magnifying glass */
#alltabs-button, /* Menu to display all tabs at the end of tabs bar */
.titlebar-buttonbox-container /* Minimize, maximize, and close buttons */ {
	display: none !important;
}

#reload-button, #stop-button, #back-button, #forward-button, #star-button-box  {
  display: none !important;
}

.tab-close-button {
	display: none;
}

#TabsToolbar .toolbarbutton-1 {
	display: none;
}

.titlebar-spacer {
	display: none !important;
}

#nav-bar {
	box-shadow: none !important;
}

/* Remove "padding" left and right from tabs */

/* Fix URL bar overlapping elements */
#urlbar-container {
	min-width: initial !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-left: 2px !important;
}

/* Remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0 !important;
}

/* Hide the hamburger menu */
#PanelUI-menu-button { 
	display: none !important;
}
